<script src="/public/js/course.js" defer></script>

<main class="container">
  <div class="row justify-content-between">
    <div class="col">
      <h1>{{ course.courseName }}</h1>
      <h2>{{ course.courseCode }}</h2>
      <p>{{ course.professors }}</p>
    </div>
    <div
      class="col d-flex flex-row justify-content-end"
      style="height: 256px; width: 256px"
    >
      <canvas id="ratings-pie" data-data="{{asJSON ratingCounts }}"></canvas>
      <h2 class="float-end">Average Rating: {{ course.averageRating }}</h2>
    </div>
  </div>
  <hr />
  {{#if isLoggedIn}}
  <form id="review-form" action="/reviews" class="w-100" method="POST">
    {{#if review}}
    <input type="hidden" name="_method" value="PATCH" />
    {{/if}}
    <div class="mb-2">
      <label for="rating-input" class="form-label">Course Rating</label>
      <input
        id="rating-input"
        name="rating"
        class="rating"
        data-min="0"
        data-max="5"
        data-step="0.5"
        value="{{ review.rating }}"
      />
    </div>
    <div class="mb-2">
      <label for="content-input">Review Content</label>
      <textarea
        class="form-control"
        id="content-input"
        name="content"
        rows="10"
        >{{ review.content }}</textarea
      >
    </div>
    <input
      type="submit"
      value="{{#if review}}Edit Review {{else}}Submit Review{{/if}}"
      class="btn btn-primary"
    />
    {{#if review}}
    <a
      role="button"
      class="delete-btn btn btn-warning"
      data-id="{{ review._id }}"
    >
      Delete
    </a>

    {{/if}}
  </form>
  <hr />
  {{/if}}
  <div class="container vstack gap-2">
    {{#each reviews as |review|}}
    <div class="card review" data-_id="{{ review._id }}">
      <div class="card-body d-flex flex-row justify-content-start">
        {{> vote review }}
        <div class="w-100">
          <div class="row">
            <div class="col">
              <input
                name="rating"
                class="review-rating rating mb-2"
                data-min="0"
                data-max="5"
                data-step="0.5"
                value="{{ review.rating }}"
              />
            </div>
            <div class="col">
              <p class="text-end">
                {{ review.username }} · created {{ review.createdAt }}
                {{#if review.updatedAt}} · updated {{ review.updatedAt }}{{/if}}
              </p>
            </div>
          </div>
          <p class="card-text">{{ review.content }}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</main>
