<script defer src="/public/js/adminUniversity.js"></script>

<h1 class="text-center">Edit {{ university.name }}</h1>
<main class="container">
  {{> university-form buttonText="Edit University" }}
  <hr />
  {{> course-form buttonText="Create Course" }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses }}
      <tr>
        <th scope="col">{{ this.courseCode }}</th>
        <td>{{ this.courseName }}</td>
        <td>
          <a href="/admin/courses/{{ this._id }}/" class="btn btn-primary"
            >Edit</a
          >
          <button class="delete-btn btn btn-warning" data-id="{{ this._id }}">
            Delete
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</main>
