<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>University Details</title>
  </head>
  <body>
    <h1>{{ university.name }}</h1>
    <h2>{{ university.location }}</h2>
    <h2>Courses:</h2>
    <ul>
      {{#each courses as |course|}}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ course.courseName }}</h5>
          <p class="card-subtitle">{{ course.courseCode }}</p>
          <p class="card-text">{{ course.professors }}</p>
          <a
            class="btn btn-primary stretched-link"
            href="/courses/{{ course._id }}"
            >View Course</a
          >
        </div>
      </div>
      {{/each}}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ course.courseName }}</h5>
          <p class="card-subtitle">{{ course.courseCode }}</p>
          <p class="card-text">{{ course.professors }}</p>
          <a
            class="btn btn-primary stretched-link"
            href="/courses/{{ course._id }}"
            >View Course</a
          >
        </div>
      </div>
      {{/each}}
    </ul>
  </body>
  <a href="/">Search for Another University</a>
</html>
