<script src="/public/js/university.js" defer></script>

<main class="container">
  <h1>{{ university.name }}</h1>
  <h2>{{ university.location }}</h2>
  <hr />
  <h3>Courses:</h3>
  {{> course-search-form search=search sortBy=sortBy}}
  {{#if search}}
  <h4>Search results for "{{ search }}"</h4>
  {{/if}}
  {{#if courses}}
  <div class="container vstack gap-2">
    {{#each courses as |course|}}
    {{> course-card course=course}}
    {{/each}}
  </div>
  {{else}}
  <p>Your search - {{ search }} - did not match any courses.</p>
  <p>Suggestions:</p>
  <ul>
    <li>Try using the course code or a professors name</li>
    <li>Try different keywords</li>
  </ul>
  {{/if}}
</main>
